<link rel="stylesheet" href="/css/main.css" />

<link rel="stylesheet" href="/css/footer.css" />



<footer class="main-footer">
    <span><a href="#">Meta</a></span>
    <span><a href="#">About</a></span>
    <span><a href="#">Blog</a></span>
    <span><a href="#">Jobs</a></span>
    <span><a href="#">Help</a></span>
    <span><a href="#">API</a></span>
    <span><a href="#">Privacy</a></span>
    <span><a href="#">Terms</a></span>
    <span><a href="#">Locations</a></span>
    <span><a href="#">Instagram Lite</a></span>
    <span><a href="#">Threads</a></span>
    <span><a href="#">Contact uploading and non-users</a></span>
    <span><a href="#">Mata Varified</a></span>
</footer>
<footer class="lower-footer">
    <div>
        <select id="language">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
        </select>
    </div>
    <div>&copy; 2025 Instagram from Meta</div>
</footer>
