<link rel="stylesheet" href="/css/home.css">


<%- include('partials/header') %>
<div class="home">
<h1>Welcome to Instagram Clone</h1>
<span class="credit">Made by <span><a href="http://localhost:8080/user/kali">Mr. Karunanidhi</a></span></span>
</div>
<%- include('partials/footer') %>
