header {
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.header {
    width: calc(100% - 500px);
    height: 68px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, o.5);
}

.logo img {
    height: 40px;
}

.link-container {
    display: flex;
    gap: 10px;
}

.link-container a {
    text-decoration: none;
    color: #0095F6;
    font-size: 0.9rem;
    padding: 7px 15px;
}

.link-container a:hover {
    color: white;
}

.link-container a.login-link {
    background-color: #0095F6;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link-container a.login-link:hover {
    background-color: rgb(24, 119, 242);
}



